<p class="btn-row" style="margin-top:16px;">
  <a href="https://www.booking.com/Share-1orvET" target="_blank" rel="noopener" class="btn-booking">
    <img src="https://cf.bstatic.com/static/img/favicon/booking.ico" alt="Booking.com">
    在 Booking.com 预订
  </a>
  <a href="https://airbnb.cn/h/cmsummer1" target="_blank" rel="noopener" class="btn-airbnb">
    <img src="https://a0.muscache.com/airbnb/static/logotype_x2-829c3dcd0d4e1aa6a05fa5dc7e056e04.png" alt="Airbnb">
    Airbnb cmsummer1
  </a>
  <a href="https://airbnb.cn/h/chiangmaisummer" target="_blank" rel="noopener" class="btn-airbnb">
    <img src="https://a0.muscache.com/airbnb/static/logotype_x2-829c3dcd0d4e1aa6a05fa5dc7e056e04.png" alt="Airbnb">
    Airbnb chiangmaisummer
  </a>
  <a href="https://airbnb.cn/h/cmsummer" target="_blank" rel="noopener" class="btn-airbnb">
    <img src="https://a0.muscache.com/airbnb/static/logotype_x2-829c3dcd0d4e1aa6a05fa5dc7e056e04.png" alt="Airbnb">
    Airbnb cmsummer
  </a>
</p>
